body{
    background-color: rgb(255, 136, 0);
}
.gridImg{
    display: grid;
    grid-template-columns: 550px 550px 250px;
    grid-template-rows: 600px 600px 250px;
    padding-bottom: 200px;
}
img{
    height: 400px;
    width: 350px;
}
